body {
  background-image: url(../public/pictures/background-d.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
font-size: 16px;
}

.Footer {
  position: fixed;
  height: 120px;
  background: rgb(4,35,60);
  background: linear-gradient(90deg, rgba(4,35,60,1) 0%, rgba(140,160,169,1) 54%, rgba(6,182,218,1) 100%);
  bottom: 0;
  width: 100%;
  border-top: 2px solid white;
}

.FooterText {
  color: white;
  font-family: Raleway, sans-serif;
  font-style: italic;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Logo {
  width: 150px;
  height: 150px;
  display: block;
  border: 4px solid white;
  margin: 10px auto;
}

nav {
  background: rgb(4,35,60);
  background: linear-gradient(90deg, rgba(4,35,60,1) 0%, rgba(140,160,169,1) 54%, rgba(6,182,218,1) 100%);
  height: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.Liste {
  list-style-type: none;
  background: rgb(4,35,60);
  background: linear-gradient(90deg, rgba(4,35,60,1) 0%, rgba(140,160,169,1) 54%, rgba(6,182,218,1) 100%);
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.Items {
  margin-left: 4vw;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.ItemFacebook {
  position: absolute;
  right: 1vw;
}

.ItemInstagram {
  position: absolute;
  right: 8vw;
}

li > a {
  text-decoration: none;
  color: white;
}