.Tarifs {
    background-color: #EFF7FA;
}

.ArticleTarifs {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ArticleTarifs:last-child {
    margin-bottom: 40px;
}


@media screen and (min-width: 590px) {
    
    .ArticleTarifs {
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

@media screen and (min-height: 934px) {
    .BackBottom {
        margin-bottom: 194px;
    }
}